html{
    font-size: 10px;
}


body {

    color: black;
    }
ul {
padding:0;
}
li{
    list-style: none;
}

.wrapper{
    background: beige;
    min-width: 30rem;
    max-width: 90rem;
    margin: 0 auto;
}

.accordion {

    background-color: pink;
    min-width:25rem;
    max-width: 80rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.accordion:hover *{
   visibility: visible;
    color: white;
}

.accordion__item {
display: flex;
justify-content: space-between;
    /*padding-left: 1em;*/
    font-weight: 700;
    font-size: 3rem;
    /*min-width: 100%;*/
    min-height: 10%;
    background: aquamarine;
    margin-bottom: 3rem;
}

.accordion__item >*{
    cursor: pointer;
}
.accordion__input {
    appearance: none;
}

.accordion__title{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

.accordion__ico{
    display: block;

    vertical-align: center;
    /*visibility: hidden;*/
    margin-left: auto;
    margin-right: 2rem;
    border-style: solid;
    border-width: 1.8rem 0.9rem 0 0.9rem;
    border-color: #1c1d1f transparent transparent transparent;
}
.accordion__meme{
    background: url("./assets/mem1.jpg") center no-repeat;
    background-size: auto 50%;
    min-width:100%;
    min-height: 9rem;
    height:40rem;
    margin: 0 auto;
    display: none;
}

.accordion__item >input[type="radio"]:checked +.accordion__title >.accordion__meme {
    display: block;
}

.accordion__item > input[type="radio"]:checked~.accordion__title {
       color:white;
}
.accordion__item:hover >.accordion__title >.accordion__meme{
    display: block;
}
.accordion__item:hover >.accordion__title >.accordion__ico, .accordion__item >input[type="radio"]:checked +.accordion__title >.accordion__ico{
    border-width: 0 0.9rem 1.8rem 0.9rem;
    border-color: transparent transparent #1c1d1f transparent;
}
