html{
    font-size: 10px;
}


body {
    color: #bf8a02;
    }
.heading {
    color:black;
    font-size: 3.6rem;
    min-width:25rem;
    max-width: 80rem;
    padding-left: 6rem;
    padding-top: 1rem;
}


ul {
padding:0;
}
li{
    list-style: none;
}

.wrapper{
    background: beige;
    min-width: 30rem;
    max-width: 90rem;
    margin: 0 auto;
}

.accordion {
    background-color: beige;
    min-width:25rem;
    max-width: 80rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.accordion:hover *{
   visibility: visible;
    color: black;
}

.accordion__item {
display: flex;
justify-content: space-between;
    border-top: 0.1rem solid lightgray;
    font-weight: 700;
    font-size: 3rem;
    /*min-width: 100%;*/
    min-height: 10%;
    background: beige;
    margin-bottom: 3rem;
}


.accordion__input {
    appearance: none;
}

.accordion__title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 100%;
}

.accordion__ico{
    display: block;
    visibility: hidden;
    margin-left: auto;
    margin-right: 2rem;
    border-style: solid;
    border-width: 1.8rem 0.9rem 0 0.9rem;
    border-color: #1c1d1f transparent transparent transparent;
    transition: all 1000ms ease-in-out;
}
.accordion__meme{
    min-width:100%;
    min-height: 9rem;
    height:40rem;
    margin: 0 auto;
    display: none;


}
@keyframes size-change {
    0%{
        background-size: 20% auto;
    }
    10%{
        background-size: 22% auto;
    }
    20%{
        background-size: 24% auto;
    }
    30%{
        background-size: 26% auto;
    }
    40%{
        background-size: 28% auto;
    }
    50%{
        background-size: 30% auto;
    }
    60%{
        background-size: 32% auto;
    }
    70%{
        background-size: 34% auto;
    }
    80%{
        background-size: 36% auto;
    }
    90%{
        background-size: 38% auto;
    }
    100%{
        background-size: 40% auto;
    }

}


.first {
    background:beige url("./assets/About aliens.jpg") center no-repeat;
    background-size: 40% auto;
    animation: size-change 300ms;


}
.second {
    background: url("./assets/About face.jpg") center no-repeat;
    background-size: 40% auto;
    animation: size-change 300ms;

}
.third {
    background: url("./assets/About_extrim.jpg") center no-repeat;
    background-size: 40% auto;
    animation: size-change 300ms;
}
.forth{
    animation: size-change 300ms;
    background: url("./assets/About hedgehog.jpg") center no-repeat;
    background-size: 40% auto;
}
.fifth {
    animation: size-change 300ms;
    background: url("./assets/About soul.jpg") center no-repeat;
    background-size: 40% auto;
}


.accordion__item >input[type="radio"]:checked +.accordion__title >.accordion__meme {
   display: block;
    }



.accordion__item > input[type="radio"]:checked~.accordion__title {
       color:black;
}


/*.accordion__item:hover >.accordion__title >.accordion__ico, .accordion__item >input[type="radio"]:checked +.accordion__title >.accordion__ico{*/
/*    border-width: 0 0.9rem 1.8rem 0.9rem;*/
/*    border-color: transparent transparent #1c1d1f transparent;*/
/*}*/

.accordion__item:active *{
    color: #bf8a02;
    opacity:80%;
   }



.accordion__item > input[type="radio"]:active +.accordion__title >.accordion__ico{
    border-color: transparent transparent #bf8a02 transparent;
}
@media (hover: hover) {
    .accordion__item >*{
        cursor: pointer;
    }
    .accordion__item:hover > .accordion__title > .accordion__meme {
        display: block;
    }
    .accordion__item:hover >.accordion__title >.accordion__ico, .accordion__item >input[type="radio"]:checked +.accordion__title >.accordion__ico{
        border-width: 0 0.9rem 1.8rem 0.9rem;
        border-color: transparent transparent #1c1d1f transparent;
    }



}